## __Step 1 - Scraping__

In [1]:
# Depemdencies
from splinter import Browser
from bs4 import BeautifulSoup
import time
import pandas as pd

In [40]:
import pandas as pd

In [11]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### __NASA Mars News__

- Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. 
- Assign the text to variables that you can reference later.

In [37]:
# Define the URL to visit
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)

# Define HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

# Retrieve the first news element
news_title = soup.find_all('div', class_='content_title')[0].text

# Retrieve the first news element
news_p = soup.find_all('div', class_='article_teaser_body')[0].text

# View the result
print("NASA Mars News\nTitle: " + str(news_title) + "\nParagraph: " + str(news_p))

NASA Mars News
Title: NASA Invites Public to Submit Names to Fly Aboard Next Mars Rover
Paragraph: From now till Sept. 30, the public can submit names to be stenciled on chips that will fly on the Mars 2020 rover and receive a souvenir boarding pass.

### __JPL Mars Space Images - Featured Image__

- Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url. 
- Make sure to find the image url to the full size .jpg image. 
- Make sure to save a complete url string for this image.

In [36]:
# Define the base URL for the image
base_url = 'https://www.jpl.nasa.gov'

# Define the URL to visit
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

# Define HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

# Retrieve the "large size image" of the current Featured Mars image first click the FULL IMAGE option
browser.click_link_by_partial_text('FULL IMAGE')

# Add a three second interval to wait for the page to fully download
time.sleep(3)

# Then click the more info option
browser.click_link_by_partial_text('more info')

# Parse again HTML with Beautiful Soup to retrieve the "large size image" URL
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# Find the tag figure to get the href
fig = soup.find("figure", class_="lede")
featured_image_url = base_url + fig.a['href']

# View the result 
print("JPL\nFeatured image: " + str(featured_image_url))

JPL
Featured image: https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18886_hires.jpg

### __Mars Weather__

- Visit the Mars Weather twitter account and scrape the latest Mars weather tweet from the page. 
- Save the tweet text for the weather report as a variable called mars_weather.

In [38]:
# Define the URL to visit
image_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(image_url)

# Define HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

# Retrieve the current Featured Mars image
mars_weather = soup.find('p', class_='TweetTextSize').text

# View the result
print (mars_weather)

InSight sol 170 (2019-05-20) low -100.9ºC (-149.6ºF) high -21.2ºC (-6.1ºF)
winds from the SW at 4.7 m/s (10.5 mph) gusting to 14.6 m/s (32.6 mph)
pressure at 7.50 hPapic.twitter.com/md3upbYmBI

### __Mars Facts__

- Visit the Mars Facts webpage and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

- Use Pandas to convert the data to a HTML table string.

In [41]:
# Define the URL to visit
facts_url = 'https://space-facts.com/mars/'

# Make pandas to get the html
tables = pd.read_html(facts_url)

# View the results
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [43]:
# Create a data frame with the info in the html
facts_df = tables[0]

# Change tha name of the columns
facts_df.columns = ['Description', 'Value']

# View the results
facts_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [44]:
# Set index to column Description
facts_df.set_index('Description', inplace=True)

# View the result
facts_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [45]:
# Convert the data frame to a html table
html_table = facts_df.to_html()

# View the result
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### __Mars Hemispheres__

- Visit the USGS Astrogeology site to obtain high resolution images for each of Mars hemispheres.

- You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.

- Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.

- Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [61]:
# Define the base URL for the image
base_url = ''

# Define the URL to visit
hems_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

# Define the names and links of the hemispheres
hems = ['Cerberus Hemisphere', 'Schiaparelli Hemisphere', 'Syrtis Major Hemisphere', 'Valles Marineris Hemisphere']
hems_link = ['Cerberus Hemisphere Enhanced', 
        'Schiaparelli Hemisphere Enhanced', 
        'Syrtis Major Hemisphere Enhanced',
        'Valles Marineris Hemisphere Enhanced']

# Initialize the images list
hemisphere_image_urls = []

for i in range(4):
    # Visit the initial url
    browser.visit(hems_url)
    
    # Retrieve the "large size image" of hemisphere 
    browser.click_link_by_partial_text(hems_link[i])

    # Define HTML object
    html = browser.html
    
    # Parse HTML with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')

    # Get the href
    div = soup.find("div", class_="downloads")
    
    #  Define the dictionary
    hems_dict = {"title": hems[i], "img_url": div.ul.li.a['href']}
    
    #  Append the dictionary to the list
    hemisphere_image_urls.append(hems_dict)

# View the result
print("Hemisphere images: " + str(hemisphere_image_urls))

Hemisphere images: [{'title': 'Cerberus Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]